[submodule "lib/svd"]
	path = lib/svd
	url = https://github.com/avrxml/svd
[submodule "tools"]
	path = tools
	url = https://github.com/ryanplusplus/arm-none-eabi-gcc-tools
[submodule "lib/asf4"]
	path = lib/asf4
	url = https://github.com/adafruit/asf4
[submodule "lib/tiny.cpp"]
	path = lib/tiny.cpp
	url = https://github.com/ryanplusplus/tiny.cpp
[submodule "lib/tiny-rtt"]
	path = lib/tiny-rtt
	url = https://github.com/ryanplusplus/tiny-rtt
